* {
    margin: 0px;
    padding: 0px;
}
.container-1{
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 105px;
    align-items: end;
    justify-content: center;
    font-size: 21px;
}
/**MODIFICAR LOGO**/
.logo-cgkr{
    margin-right: 10px;
    margin-left: 10px;
}
/**ES PARA MODIFICAR LA LISTA ul **/
.container-1 ul{
    margin-right: 90px;
    display: flex;
    list-style: none;
    align-items: end;
}

/**DISTANCIA ENTRE INICIO-LANZAMIENTO-OFERTAS-BUSCADOR-ICONS**/
.container-1 li{
    padding-left: 50px;
}

/**BUSCADOR MODIFICAR**/
.container-1 input{
    height: 25px;
    border-radius: 15px;
    border: solid;
    width: 300px;
    margin-bottom: 3px;
    padding-left: 10px;
    
}
.cuenta{
    margin-left: 10px;
}
.linea{
    background-color: rgb(0, 0, 0);
    height: 4px;
}